<template name="postSubmit">
    <form class="main form">
        <div class="form-group">
            <label for="url" class="control-label">Url</label>
            <div class="contols">
                <input type="text" name="url" id="url" placeholder="Your url" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <div class="contols">
                <input type="text" name="title" id="title" placeholder="Enter title" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>